flask
flask-sqlalchemy
pdfplumber
pypdf
pymupdf
pandas
plotly
spacy
python-dateutil
werkzeug
pillow
numpy
rapidocr-onnxruntime
pytesseract
winocr; sys_platform == "win32"
deep-translator
pyngrok
winrt-Windows.Storage.Streams; sys_platform == "win32"
